@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFF;
}

.menu-topbar li{
  position: relative;
}
.menu-topbar li a{
  font-weight: 600;
  transition: 0.5s ease-in-out;
}
.menu-topbar li a:hover{
  color: cadetblue;
}
.menu-topbar li a:hover::after{
  content: "";
  width: 50%;
  height: 3px;
  background: black;
  position: absolute;
  bottom: -4px;
  left: 0px;
  border-radius: 50px;
}

